body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://stmed.net/sites/default/files/ubuntu-wallpapers-30793-1134592.png");
  background-size: cover;
}

label{
	color:red;
}
